.service_container{
    width: min(85%, 70.5rem);
    margin-inline: auto;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.service_row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
}

.service_col{
    display: flex;
    flex-direction: column;
    min-width: 28%;
}

.service_row p{
    color: #343A52;
    font-size: 1rem;
}

.service_row_2{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 8rem;
    gap: 5rem;
}

.service_col_2{
    display: flex;
    flex-direction: column;
    max-width: 51%;
}

.service_col_2 p{
    color: #343A52;
    line-height: 3rem;
}

.service_col_2 h1{
    font-size: 2.5rem;
    color: #343A52;
}

.service_col_2 li{
    font-size: 1.25rem;
    padding-top: 1.5rem;
}