.form-container {
    display: flex;
    margin-bottom: 5rem;
    margin: 5rem 10rem;
    padding: 2rem 0rem;
    border-radius: 3em;
    justify-content: center;
    align-items: center;
    background-color: #effcff;
    max-width: 100%;
}

.form-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.form-img{
   width: 90%;
}

.form-col{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.form-col h2{
    font-family: 'Raleway', sans-serif;
}

input[type=text]{
    border: 2px solid #B2DDED;
    box-sizing: border-box;
    margin: 0.5rem;
    padding: 0.9rem 1rem;
    padding-right: 9rem;
    border-radius: 3em;
    background-color: #ffffff;
    text-align: left;
    font-size: 0.8rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

textarea{
    overflow: visible;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    padding-bottom: 5rem;
    padding-right: 9rem;
    border-radius: 1.75em;
    border: 2px solid #B2DDED;
    background-color: #ffffff;
    font-size: 0.8rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

input[type=submit]{
    margin: 0.5rem;
    padding: 1rem 1.75rem;
    width: 95%;
    border-radius: 3em;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    background-color: #B2DDED;
    color: ;
    cursor: pointer;
}

.form-img{
    min-width: 70%;
    height: 100%;
}
