.form-container {
    display: flex;
    margin-bottom: 5rem;
    margin-top: 8rem;
    justify-content: space-evenly;
    align-items: center;
}

.form-row{
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: center;
    gap: 3rem;
    width: 100%;
}

.container-col{
    display: grid;
    grid-template-rows: 1fr 1fr 4fr;
    width: 600px;
}

.form-col{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}

.form-col h2{
    font-family: 'Raleway', sans-serif;
}

input[type=text]{
    border: 1.5px solid #000000;
    box-sizing: border-box;
    margin: 0.5rem;
    padding: 0.9rem 1rem;
    border-radius: 0.6em;
    background-color: #ffffff;
    text-align: left;
    font-size: 0.8rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

textarea{
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.6em;
    border: 1.5px solid #000000;
    background-color: #ffffff;
    font-size: 0.8rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

input[type=submit]{
    max-width: 100%;
    margin: auto;
    margin-top: 1rem;
    padding: 1.5rem 4.5rem;
    border-radius: 0.6em;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: ivory;
    background-color: #0C2A25;
    cursor: pointer;
}

.form-img{
    max-width: 100%;
    min-height: 100%;
}

@media (max-width: 40em) {
    .form-row{
        display: flex;
        flex-direction: column;
    }

    .container-col{
        width: 400px;
        margin-inline: auto;
    }
}
