.service-container{
    display: flex;
    margin-inline: auto;
    justify-content: center;
    background-color: #264c45;
    padding-bottom: 6rem;
    padding-top: 8rem;
}

.service-grid{
    width: min(85%, 70.5rem);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 6rem;
}

.service-item{
    padding-bottom: 2rem;
}

@media (max-width: 40em) {
    .service-grid{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        text-align: center;
    }

    .service-item{
        padding-right: 0;
    } 
}
