.trauma-container{
    width: min(85%, 70.5rem);
    margin-inline: auto;
}

.trauma-container h1{
    color: #343A52;
}

.trauma-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.trauma-row_2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
     max-width: 90%
}

.trauma-col{
    display: flex;
    flex-direction: column;
}

.trauma-col p{
   color: #343A52;
}

.trauma-col li{
    color: #343A52;
}