
.container-home{
    margin: 6rem auto 0;
    max-width: 100%;
}

.home-row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.home-col{
    display: flex;
    flex-direction: column;
    max-width: 25%;
}

.btn1{
    width: 60%;
    padding: 16px 24px;
    border-radius: 50px;
    overflow: hidden;
}

