.about-container{
    width: min(85%, 70.5rem);
    margin-inline: auto;
    margin-top: 15rem;
    margin-bottom: 7rem;
}

.about-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.about-row h1{
    color: #343A52;
}

.about-row p{
    color: #343A52;
    max-width: 100%;
}

.about-col{
    display: flex;
    flex-direction: column;
    max-width: 50%;
}

.maria{
    max-width: 120%;
    min-width: 120%;
    display: block;
    padding-top: 1rem;
}

.about-btn{
    width: 200px;
    padding: 24px;
    margin-top: 1rem;
    border-radius: 12px;
    border: 2px solid #343A52;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    background-color: #ffffff;
    color: #343A52;
}

@media (max-width: 40em) {
    .about-row{
        display: flex;
        flex-direction: column;
    }

    .about-col{
        min-width: 100%;
    }
}