.container-home{
    max-width: 85%;
    margin: auto;
}

.home-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 6rem;
}

.home-col{
    display: flex;
    flex-direction: column;
    max-width: 51%;
    min-width: 25%;
}

.home-p{
    max-width: 80%;
}

.home-col h1{
    margin-bottom: 0;
}

.headshot{
    max-width: 100%;
    height: auto;
    
}

.btn1{
    max-width: 35%;
    min-width: 35%;
    padding: 24px;
    margin-top: 2rem;
    border-radius: 12px;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    cursor: pointer;
}

