.counseling-container{
    width: min(85%, 70.5rem);
    margin-inline: auto;
    padding-top: 5rem;
    padding-bottom: 10rem;
}

.counseling-row{
    display: flex;
    flex-direction: row;
    text-align: center;
}

.counseling-col{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.counseling-col h1{
    max-width: 80%;
}