*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
    font-family: "LibreBaskerville";
    src: local("LibreBaskerville"),
    url("./fonts/LibreBaskerville-Regular.ttf") format("truetype");
    font-weight: normal;
  }

body{
   margin: 0;
}

@media (max-width: 40em) {
    body{
        overflow-x: hidden;
        background-position-x: 24%;
        background-position-y: 0%;
    }
}

h1{
    font-size: 2.75rem;
    line-height: 4rem;
    font-family: 'DM Serif Display', serif;
    color: #F9FFEA;
}

h2{
    
    color: #F9FFEA;
}

h3{
    font-size: 1.25rem;
    color: #343A52;
}

h4{
    font-size: 1.75rem;
    font-weight: 500;
    color: #F9FFEA;
}

p{
    font-size: 1.1rem;
    line-height: 2.25rem;
    font-family: LibreBaskerville;
    color: #F9FFEA;
}

