html, body{
    margin: 0;
    background-image: url(Hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: relative;
}

h1{
    font-size: 3rem;
    line-height: 4rem;
    font-family: 'Raleway', sans-serif;
}

h4{
    font-size: 2rem;
    font-weight: 500;
    color: white;
}

p{
    font-size: 1.2rem;
    line-height: 2.25rem;
    font-family: 'Raleway', sans-serif;
}